.link {
  background: rgba(83, 130, 231, .1);
  padding: 8px 16px;
  border: none;
  color: #5382E7;
  font-weight: 500;
  font-size: 12px;
  border-radius: 3px;

  &:hover {
    transition: .5s;
    background: rgba(83, 130, 231, .5);
    cursor: pointer;
  }
}